body[data-theme="dark"] {
  color: $dark-text-base-color;
  background-color: $dark-black;

  // Heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-white;
  }

  // Table
  table {
    thead {
      color: $dark-white;
      border-color: $dark-light;
    }

    th,
    td,
    tr {
      border-color: $dark-light;
    }
  }

  // Post
  .page-content {
    a {
      color: $dark-text-link-blue;

      &:hover,
      &:active,
      &:focus {
        color: $dark-text-link-blue-active;
      }
    }

    h3 {
      border-color: $dark-light;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      .anchor-head {
        color: $dark-text-link-blue;
      }
    }
  }

  // Syntax
  code {
    &.highlighter-rouge {
      background-color: $dark-light;
    }
  }

  // tomorrow night blue
  $primary: #ffffff;
  $secondary: #bbdaff;
  $background: #002451;
  $lineno-background: #193962;
  $selected: #003f8e;
  $operator: #99ffff;
  $keyword: #ebbbff;
  $namespace: #ffeead;
  $comment: #7285b7;
  $scoped: #ff9da4;
  $numeric: #ffc58f;
  $string: #d1f1a9;

  pre > code { background-color: $background; }

.highlight {
  background: $background;
  color: ($primary);
}

.highlight > code { color: ($secondary); }

.highlight .hll { background-color: ($selected); }

.highlight .lineno {
  background-color: ($lineno-background);
  color: ($secondary);
}

/* $- Generics $- */
.highlight .ge { font-style: italic; } /* emph */
.highlight .gs { font-weight: bold; } /* strong */

/* $- Operators $- */
.highlight .o { color: ($operator); } /* Operator */
.highlight .ow { color: ($operator); } /* Word */

/* $- Comments $- */
.highlight .c { color: ($comment); font-style: italic; } /* Comment */
.highlight .cm { color: ($comment); font-style: italic; } /* Multi-line */
.highlight .cp { color: ($comment); font-style: italic; } /* Preproc */
.highlight .c1 { color: ($comment); font-style: italic; } /* Single */
.highlight .cs { color: ($comment); font-style: italic; } /* Special */

/* $- Names $- */
.highlight .n { color: ($primary); } /* Name */
.highlight .py { color: ($primary); } /* Property */
.highlight .nl { color: ($primary); } /* Label */
.highlight .ni { color: ($primary); } /* Entity */
.highlight .nb { color: ($primary); } /* Builtin */ /* shell commands */
.highlight .bp { color: ($primary); } /* Builtin.Pseudo */
.highlight .nf { color: ($secondary); } /* Function */
.highlight .na { color: ($secondary); } /* Attribute */
.highlight .nx { color: ($secondary); } /* Other */
.highlight .nc { color: ($namespace); } /* Class */
.highlight .nn { color: ($namespace); } /* Namespace */
.highlight .no { color: ($scoped); } /* Constant */
.highlight .ne { color: ($scoped); } /* Exception */
.highlight .nd { color: ($operator); } /* Decorator */
.highlight .nt { color: ($operator); } /* Tag */

/* $- Keywords $- */
.highlight .kn { color: ($operator); } /* Namespace */
.highlight .k { color: ($keyword); } /* Keyword */
.highlight .kc { color: ($keyword); } /* Constant */
.highlight .kd { color: ($keyword); } /* Declaration */
.highlight .kp { color: ($keyword); } /* Pseudo */
.highlight .kr { color: ($keyword); } /* Reserved */
.highlight .kt { color: ($namespace); } /* Type */

/* $- Variables $- */
.highlight .nv { color: ($scoped); } /* Variable */
.highlight .vc { color: ($scoped); } /* Class */
.highlight .vg { color: ($scoped); } /* Global */
.highlight .vi { color: ($scoped); } /* Instance */

/* $- Numerals $- */
.highlight .m { color: ($numeric); } /* Number */
.highlight .il { color: ($numeric); } /* Long */
.highlight .mf { color: ($numeric); } /* Float */
.highlight .mh { color: ($numeric); } /* Hex */
.highlight .mi { color: ($numeric); } /* Integer */
.highlight .mo { color: ($numeric); } /* Oct */

/* $- Strings $- */
.highlight .s { color: ($string); } /* String */
.highlight .sr { color: ($string); } /* Regex */
.highlight .sb { color: ($string); } /* Backtick */
.highlight .s2 { color: ($string); } /* Double */
.highlight .sh { color: ($string); } /* Heredoc */
.highlight .sx { color: ($string); } /* Other */
.highlight .s1 { color: ($string); } /* Single */
.highlight .ss { color: ($string); } /* Symbol */
.highlight .se { color: ($numeric); } /* Escape */
.highlight .si { color: ($numeric); } /* Interpol */
.highlight .sc { color: ($primary); } /* Char */
.highlight .sd { color: ($comment); } /* Doc */

/* $- Other Literals $- */
.highlight .l { color: ($numeric); } /* Literal */
.highlight .ld { color: ($string); } /* Date */

/* $- Typographic Elements $- */
.highlight .p { color: ($primary); } /* Punctuation */
.highlight .w { color: ($primary); } /* Whitespace */ /* shouldn't this have a background-color instead ? */

/* $- Others $- */
.highlight .err { color: ($scoped); } /* Error */
.highlight .gp { color: ($namespace); } /* shell prompt */

/* $- Style $- */
.highlight .gi { color: ($string); } /* inserted */
.highlight .gd { color: ($scoped); } /* deleted */
.highlight .gh { color: ($primary); font-weight: bold; } /* heading */
.highlight .gu { color: ($operator); font-weight: bold; } /* subheading */

  // kbd tag
  kbd {
    border-color: $dark-light;
    color: $dark-white;
    text-shadow: 0 1px 0 $dark-black;
  }

  // horizontal rule
  hr {
    border-color: $dark-light;
  }

  // Post Meta
  .post-meta {
    color: $dark-gray;

    time {
      &::after {
        background-color: $dark-light;
      }
    }

    span[itemprop="author"] {
      border-color: $dark-light;
    }
  }

  // Link
  a {
    color: inherit;
    text-decoration-color: $dark-smoke;

    &:hover {
      color: $dark-text-link-blue;
    }

    &:focus {
      outline-color: rgba(255, 82, 119, 0.6);
    }
  }

  // List
  li {
    &:before {
      color: $dark-white;
    }
  }

  // Blockquote
  blockquote {
    color: $dark-gray;
    border-color: $dark-light;
  }

  // Strong, Bold
  strong,
  b {
    color: $dark-white;
  }

  // Navbar
  .navbar {
    border-color: $dark-light;
    .menu {
      a#mode {
        .mode-sunny {
          display: block;
        }
        .mode-moon {
          display: none;
        }
      }

      .menu-link {
        color: $dark-white;
      }
      @include media-query($on-mobile) {
        background-color: $dark-black;
        border-color: $dark-light;

        .menu-icon {
          > svg {
            fill: $dark-white;
          }
        }

        input[type="checkbox"]:checked ~ .trigger {
          background: $dark-black;
        }
      }
    }
  }

  // Post Item
  .post-item {
    &:not(:first-child) {
      border-color: $dark-light;
    }

    .post-item-date {
      color: $dark-white;
    }
    .post-item-title {
      a {
        color: $dark-text-base-color;

        &:hover,
        &focus {
          color: $dark-white;
        }
      }
    }
  }

  // Post Navigation
  .post-nav {
    border-color: $dark-light;

    .post-nav-item {
      font-weight: $bold-weight;

      .post-title {
        color: $dark-white;
        opacity: 0.9;
      }

      &:hover,
      &:focus {
        .post-title {
          color: $dark-text-link-blue-active;
        }
      }

      .nav-arrow {
        color: $dark-gray;
      }
    }

    @include media-query($on-mobile) {
      .post-nav-item:nth-child(even) {
        border-color: $dark-light;
      }
    }
  }

  // Footer
  .footer {
    span.footer_item {
      color: $dark-white;
    }
    a.footer_item:not(:last-child) {
      color: $dark-white;
    }
    .footer_copyright {
      color: $dark-gray;
      opacity: 1;
    }
  }

  // 404 Page
  .not-found {
    .title {
      color: $dark-white;
      text-shadow: 1px 0px 0px $dark-text-link-blue;
    }
    .phrase {
      color: $dark-text-base-color;
    }
    .solution {
      color: $dark-text-link-blue;
    }
    .solution:hover {
      color: $dark-text-link-blue-active;
    }
  }  

  .search-article {
    input[type="search"] {
      color: $dark-text-base-color;
      &::-webkit-input-placeholder {
        color: rgba(128,128,128,0.8);
      }
    }
  }

}
